.container {
    position: fixed;
    width: 300px;
    height: 150px;
    top:50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -75px;
    border: 1px solid black;
}
.redspan{
    color: red;
}